body {
    background: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
    text-transform: uppercase;
    font-size: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    margin: 1.66%;
    margin-top: 15px;
    float: left;
    border-radius: 10%;
    transition: background 0.6s;
    
}

.square:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    transition: all 0.6s; 
} 

h1 {
    color: white;
    text-align: center;
    margin: 0;
    background: steelblue;
    line-height: 1.3;
    font-size: 200%;
    padding: 1.1rem;
    letter-spacing: 4px;

}

#message {
    color: goldenrod;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-family: "Montserrat", "Avenir";
}

.stripe {
    background: white;
    text-align: center;
}

.selected {
    background: steelblue;
    color: white;
}

button {
    border: none;
    background: none;
    color: steelblue;
    height: 20%;
    width: 20%;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat", "Avenir";
    transition: all 0.5s; 
}

button:hover {
    background: steelblue;
    color: white;
    height: 100%;
}

@media screen and (max-width: 576px) {
    .square {
        width: 46%;
        margin: 2%;
    } 
    .square:hover {
        transform: none;
    }

    h1 {
        font-size: 19px;
    }

    #rgbColor {
        font-size: 30px;
    }
}

@media screen and (max-width: 330px) {
    #rgbColor {
        font-size: 25px;
    }
}